<div class="w-100">
  <h1 class="title">LISTA DE CLASSES</h1>
  <table mat-table
        [dataSource]="classDataSource" multiTemplateDataRows
        class="mat-elevation-z8 w-100">


    <ng-container matColumnDef="Professor">
      <mat-header-cell *matHeaderCellDef> Professor </mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.teacher.name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Grade">
      <mat-header-cell *matHeaderCellDef> Turma </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.grade}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="expand">
      <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
      <td mat-cell *matCellDef="let element">
      </td>
    </ng-container>

    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayWithExpand.length">
        <div class="example-element-detail"
            [@detailExpand]="element == expandedElement ? 'expanded1' : 'collapsed'">
          <div class="d-flex flex-column justify-content-center w-100" style="border: solid black 2px">
            <div class="w-50 p-1">
              <mat-spinner *ngIf="isLoadingRow" class=""></mat-spinner>
              <h3 class="text-center">Estudantes nessa turma</h3>
              <table mat-table
                     *ngIf="!isLoadingRow"
                    [dataSource]="studentDataSource"
                    multiTemplateDataRows
                    class="w-100" style="height: 20vh; border: solid blue 2px;"
              >

                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef> Nome </th>
                  <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>

                <ng-container matColumnDef="phone">
                  <th mat-header-cell *matHeaderCellDef> Telefone </th>
                  <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
                </ng-container>

                <ng-container matColumnDef="email">
                  <th mat-header-cell *matHeaderCellDef> Nome </th>
                  <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                </ng-container>


                <tr *matHeaderRowDef="studentDisplayedColumns" mat-header-row></tr>
                <tr
                  (click)="studentClicked(row)"
                  *matRowDef="let row = index; columns: studentDisplayedColumns;"
                  class="table-row"
                  mat-row
                ></tr>

              </table>
            </div>
          </div>
        </div>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
    <tr mat-row *matRowDef="let element; columns: columnsToDisplayWithExpand;"
        class="example-element-row"
        [class.example-expanded-row]="expandedElement === element"
        (click)="rowClicked(element)">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
  </table>
  <div class="w-100">
    <mat-paginator #paginator
                  (page)="setPage($event)"
                  [pageSizeOptions]="[10, 50, 100]"
                  [pageSize]="10"
                  showFirstLastButtons
    ></mat-paginator>
  </div>
</div>
