<div class="container" novalidate>
  <form [formGroup]="formGroup" class="form">

    <h2 class="title">Formulário de Professor</h2>

    <table class="form-element" cellspacing="0">
      <tr>
        <td>
          <mat-form-field class="form-element">
            <input matInput placeholder="Nome" formControlName="name" [(ngModel)]="teacher.name">
            <mat-error *ngIf="!formGroup.controls['name'].valid && formGroup.controls['name'].touched">
              {{ getErrorName() }}
            </mat-error>
          </mat-form-field>
        </td>
      </tr>
    </table>
    <table class="form-element" cellspacing="0">
      <tr>
        <td>
          <mat-form-field class="form-element">
            <input matInput placeholder="E-mail Ex: teacher@pequenosgenios.com" formControlName="email" [(ngModel)]="teacher.email">
            <mat-error *ngIf="!formGroup.controls['email'].valid && formGroup.controls['email'].touched">
              {{ getErrorEmail() }}
            </mat-error>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="form-element">
            <input matInput mask="(00) 00000-0000" placeholder="Telefone Ex: (00) 00000-0000" formControlName="phone" [(ngModel)]="teacher.phone">
            <mat-error *ngIf="!formGroup.controls['phone'].valid && formGroup.controls['phone'].touched">
              {{ getErrorPhone() }}
            </mat-error>
          </mat-form-field>
        </td>
      </tr>
    </table>
    <table class="form-element" cellspacing="0">
      <tr>
        <td>
          <mat-form-field class="form-element">
            <input matInput placeholder="CEP" (blur)="findCep()" mask="00000-000" formControlName="cep" [(ngModel)]="teacher.cep">
            <mat-error *ngIf="!Cep.valid && Cep.touched">
              {{ titleAlert }}
            </mat-error>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="form-element">
            <input matInput placeholder="Bairro" formControlName="district" [(ngModel)]="teacher.district">
            <mat-error *ngIf="!district.valid && district.touched">
              {{ titleAlert }}
            </mat-error>
          </mat-form-field>
        </td>
      </tr>
    </table>
    <table class="form-element" cellspacing="0">
      <tr>
        <td>
          <mat-form-field class="form-element">
            <input matInput placeholder="Logradouro" formControlName="street" [(ngModel)]="teacher.street">
            <mat-error *ngIf="!street.valid && street.touched">
              {{ titleAlert }}
            </mat-error>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="form-element-group">
            <input matInput placeholder="Número" formControlName="number" [(ngModel)]="teacher.number">
            <mat-error *ngIf="!formGroup.controls['number'].valid && formGroup.controls['number'].touched">
              {{ getErrorNumber() }}
            </mat-error>
          </mat-form-field>
        </td>
      </tr>
    </table>
    <table class="form-element" cellspacing="0">
      <tr>
        <td>
          <mat-form-field class="form-element-group">
            <input matInput placeholder="Cidade" formControlName="city" [(ngModel)]="teacher.city">
            <mat-error *ngIf="!city.valid && city.touched">
              {{ titleAlert }}
            </mat-error>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="form-element-group">
            <input matInput placeholder="Estado" formControlName="state" [(ngModel)]="teacher.state">
            <mat-error *ngIf="!state.valid && state.touched">
              {{ titleAlert }}
            </mat-error>
          </mat-form-field>
        </td>
      </tr>
    </table>
    <table class="form-element" cellspacing="0">
      <tr>
        <td>
          <mat-form-field class="form-element">
            <input matInput currencyMask placeholder="Salário Ex: 120.00" [(ngModel)]="teacher.salary"
              [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', align: 'left'}" formControlName="salary">
            <mat-error *ngIf="!formGroup.controls['salary'].valid && formGroup.controls['salary'].touched">
              {{ getErrorFee() }}
            </mat-error>
          </mat-form-field>
        </td>
      </tr>
    </table>
    <div>
      <button class="me-1" mat-raised-button color="primary" type="submit" (click)="saveTeacher()" class="button" [disabled]="!formGroup.valid">{{isEdit ? 'Atualizar' : 'Cadastrar'}}
      </button>
      <button *ngIf="isEdit" mat-raised-button color="warn" class="button" (click)="delete()">Apagar
      </button>
    </div>
  </form>
</div>
