@import '~mdb-ui-kit/css/mdb.min.css';

.container {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.form-label {
  align-items: left;
}

.title {
  text-align: center;
  margin-bottom: 25px;
}

.button {
  position: relative;
  width: 30%;
  margin-top: 15px;
  position: relative;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  border-radius: 5px;
  height: 28px;
}
