@import '~mdb-ui-kit/css/mdb.min.css';

.container {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.form-label {
  align-items: left;
}

.title {
  text-align: center;
  margin-bottom: 25px;
}
