mat-card {
  max-width: 400px;
  margin: 2em auto;
  text-align: center;
}
.signin-content {
  padding: 60px 1rem;
  background-image: linear-gradient(#3748ac, #ffffff);
}
.full-width-input {
  width: 100%;
}

#mat-form-password {
  margin-bottom: 30px;
}

img {
  max-width: 180px;
}
