<mat-toolbar color="primary" *ngIf="isLoggedIn$ | async as isLoggedIn">
  <button mat-icon-button>
    <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
  </button>
  <img src="../../../assets/img/logo-pg-white.svg" alt="Logo Pequenos Gênios">
  <span>Pequenos Gênios</span>

  <span class="fill-remaining-space"></span>
  <div>
    <button mat-button (click)="onLogout()" *ngIf="isLoggedIn">Logout</button>
  </div>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-nav-list>

      <a mat-list-item [routerLink]="'/home'"> Home </a>
      <a mat-list-item [routerLink]="'/create-account'"> Cadastrar Alunos </a>
      <a mat-list-item [routerLink]="'/contacts'"> Cadastrar Professores </a>
      <a mat-list-item [routerLink]="'/create-contact'"> Cadastrar Classe </a>
      <a mat-list-item [routerLink]="'/activities'"> Alunos Cadastrados </a>
      <a mat-list-item [routerLink]="'/activities'"> Professores Cadastrados </a>
      <a mat-list-item [routerLink]="'/activities'"> Classes Cadastradas </a>
      <a mat-list-item [routerLink]="'/create-activity'"> Contate-nos </a>
      <a mat-list-item (click)="sidenav.toggle()"  mat-list-item>Fechar</a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 88vh;">

      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
