<mat-toolbar color="primary">
  <button mat-icon-button>
    <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
  </button>
  <img src="../../../assets/img/logo-pg-white.svg" alt="Logo Pequenos Gênios" [routerLink]="'/main'">
  <span [routerLink]="'/main'">Pequenos Gênios </span>
  <h1 class="display-1">Pense... O melhor para seu filho não pode esperar!</h1>

  <span class="fill-remaining-space"></span>
  <div>
    <button mat-button (click)="onLogout()">Sair</button>
  </div>

</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-nav-list (click)="sidenav.toggle()">
      <a mat-list-item [routerLink]="'/main'"> Home </a>
      <a mat-list-item [routerLink]="'/main/cadastrostudent'"> Cadastrar Alunos </a>
      <a mat-list-item [routerLink]="'/main/cadastroteacher'"> Cadastrar Professores </a>
      <a mat-list-item [routerLink]="'/main/cadastroclass'"> Cadastrar Turma</a>
      <a mat-list-item [routerLink]="'/main/students'"> Alunos Cadastrados </a>
      <a mat-list-item [routerLink]="'/main/teachers'"> Professores Cadastrados </a>
      <a mat-list-item [routerLink]="'/main/classes'"> Classes Cadastradas </a>
      <a mat-list-item [routerLink]="'/main/contact'"> Contate-nos </a>
      <a mat-list-item>Fechar</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
