mat-card {
  border-radius: 25px;
  max-width: 400px;
  margin: 2em auto;
  text-align: center;
}

.signin-content {
  padding: 77px 1rem;
  background-image: url(../../../assets/img/background-prism.svg);
  margin: 0px;
  position:absolute;
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;
}

.full-width-input {
  width: 100%;
}

#mat-form-password {
  margin-bottom: 20px;
}

img {
  max-width: 180px;
}

.login-btn{
  margin-bottom: 25px;
}