<div class="container">

  <carousel [slides]="slides" [animationType]="animationType"></carousel>
  <div class="cards">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Educação Internacional</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <p>
          Nossa missão é oferecer uma Educação Montessori de 5-13 anos com padrão de qualidade internacional. Utilizamos
          materiais elaborados pela Dra. Maria Montessori, que despertam o interesse da criança em aprender, além de
          favorecer o desenvolvimento do seu potencial criativo, sua iniciativa e autoconfiança.
        </p>
      </mat-card-content>
    </mat-card>

    <mat-card class="example-card2">
      <mat-card-header>
        <mat-card-title>Compromisso com o Aprendizado</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <p>
          A liberdade da criança na Educação Montessori não exime a nossa responsabilidade de que a criança aprenda de
          verdade.

          Nós monitoramos sistematicamente o aprendizado de cada criança para que os professores possam orientá-la ao
          seu potencial pleno.
        </p>
      </mat-card-content>
    </mat-card>

    <mat-card class="example-card3">
      <mat-card-header>
        <mat-card-title>Família e Escola</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <p>
          Os pais são os primeiros e mais importantes educadores da criança. Por isso, nossa escola se orgulha de
          estabelecer e um elo permanente com a família do aluno, o que possibilita um melhor desenvolvimento do seu
          filho.
          A Escola é a continuidade da casa da criança e por isso os pais podem entrar e sair em qualquer momento do
          dia.
        </p>
      </mat-card-content>
    </mat-card>


  </div>

</div>
