
.container {
  padding: 20px;
  text-align: center;
}

.teacherName:hover{
  color: #b91c13b7;
}

.table-row:hover{
  background-color: #b91c13b7;
}

.mat-raised-button.mat-primary{
  margin-top: 20px;
}
