.main_footer {

  background-color:#3f51b5;
  color:#fff;
  font-size:0.875em;

}

.main_footer .content { float:left; width:90%; margin:0 5%; padding: 5em 0; }
.container { float:left; width:100%; }

.colfooter {

  width:100%;
  height:auto;
  float:left;
  margin-bottom:2em;

}

.colfooter ul        { width:100%; float:left; }
.colfooter ul li     { padding:0.2em 0em; }
.colfooter ul li a   { text-decoration:none; color:#fff; font-size:1em; transition:0.2s; }
.colfooter ul li a i { font-size:0.5em; }
.colfooter ul li a:hover { color:#0acbd1; transition:0.2s; }

.titleFooter {

  border-bottom:1px solid #eaeaea;
  color:#fff;
  margin-bottom:25px;
  padding-bottom:0;

}

.titleFooter span {

  display: inline-block;
  font-size:1.3em;
  font-weight:900;
  color:#fff;
  margin-top:0;
  margin-bottom:0;
}

.titleFooter span::after {

 content:'';
 display:block;
 position:relative;
 top:1px;
 width:100%;
 height:4px;
 border-radius:6px;
 background-color:#3f51b5;

}

.colfooter p  { color:#fff; font-size:1em; height:25px; }

.colfooter .redesocial {

  color: #fff;
  float: left;
  text-decoration: none;
  display: block;
  width: 100%;
  margin-bottom: 10px;
  transition:0.2s;

}

.colfooter .redesocial:hover {

  color: #0acbd1;
  transition:0.2s;

}

/*Formulário*/
.my-formulario {

    width:100%;
    float:left;

}

.label{

    float:left;
    width:100%;
    margin-bottom:5px;
    position:relative;

}

input[type="text"],textarea{

    font-size:1em;
    color: #fff;
    width: 100%;
    box-sizing:border-box;
    outline:none;
}

.effect-line:focus { color:#33dbdf; }

.effect-line {

    border:0;
    padding:7px 0;
    border-bottom:1px solid #f0f0f0;

}

.effect-line ~ .focus-border{

    position:absolute;
    bottom:0;
    left:0;
    width:0;
    height:2px;
    background-color: #33dbdf;
    transition: 0.4s;}

.effect-line:focus ~ .focus-border{ width:100%; transition:0.4s; }

.btn-enviar {

    width: 80px;
    float: left;
    margin-top:5px;
    background:transparent;
    color: #fff;
    border:1px #fff solid;
    cursor: pointer;
    padding: 0.3em 0em;
    border-radius:3px;
    font-size: 1.2em;
    transition:0.2s;
}

.btn-enviar:hover { background-color:#33dbdf; color:#ffffff; border:1px #33dbdf solid; transition:0.2s; }

.main_footer_copy { background-color:#3f51b5; width:100%; float:left; text-align:center; padding:1.5em 0em; }
.main_footer_copy p { font-size:1em; color:#fff; height:20px; }
.main_footer_copy .m-b-footer   { margin-bottom:0.5em; }
.main_footer_copy .by   { font-size:0.96em; }
.main_footer_copy .by a       { color:#0acbd1; text-decoration:none; transition:0.2s;}
.main_footer_copy .by a:hover { text-decoration:underline; transition:0.2s;}
.main_footer_copy .by i { font-size:0.96em; margin-right:3px; color:#e82626; }

/*Responsivo*/
/*960PX BREAKPOINT*/
@media (min-width:60em){

.colfooter  { width:22%; margin-right:4%; margin-bottom:0; }
.colfooter:nth-of-type(4n+0){ margin-right:0; border-right:0;}

}
