<footer class="main_footer container">

  <div class="content">

      <div class="colfooter">

          <div class="titleFooter"> <span class="icon icon-world"></span> Menu</div>
          <ul>

            <li><a [routerLink]="'/main'" title="Página Inícial">Página Inícial</a></li>
            <li><a [routerLink]="'/main/cadastrostudent'" title="Cadastro de Estudantes">Cadastrar Aluno</a></li>
            <li><a [routerLink]="'/main/cadastroteacher'" title="Cadastro de Professores">Cadastrar Professor</a></li>
            <li><a [routerLink]="'/main/students'" title="Lista de Alunos">Lista Alunos</a></li>
            <li><a [routerLink]="'/main/teachers'" title="Lista de Professores">Lista Professores</a></li>
            <li><a [routerLink]="'/main/contact'" title="Fale Conosco">Fale Conosco</a></li>

          </ul>

      </div><!--Col Footer 1-->

      <div class="colfooter">

        <div class="titleFooter"> <span class="icon icon-share-outline"></span> Redes Sociais</div>
        <a href="https://www.facebook.com/" target="_blank" class="redesocial"><span> <fa-icon [icon]="faFacebook"></fa-icon> PequenosGenios</span></a>
        <a href="https://www.instagram.com/" target="_blank" class="redesocial"><span> <fa-icon [icon]="faInstagram"></fa-icon> PequenosGenios</span></a>
        <a href="https://www.linkedin.com/" target="_blank" class="redesocial"><span> <fa-icon [icon]="faLinkedin"></fa-icon> PequenosGenios</span></a>
        <a href="https://twitter.com/" target="_blank" class="redesocial"><span> <fa-icon [icon]="faTwitter"></fa-icon> PequenosGenios</span></a>

      </div><!--Col Footer 2-->

      <div class="colfooter">
        <div class="titleFooter"> <span class="icon icon-bubble-2"></span> Atendimentos</div>
        <p><i class="icon icon-mail"></i> contato@pequenosgenios.com.br</p>
        <p><i class="icon icon-phone"></i> (21) 90000-0000</p>
        <p><i class="icon icon-whatsapp"></i> (21) 90000-0000</p>

      </div><!--Col Footer 3-->

      <div class="colfooter">

        <div class="titleFooter"> <span class="icon icon-mail-3"></span> Contato</div>

          <form class="my-formulario" action="#" method="post">

              <label class="label">

                    <input class="effect-line" type="text" placeholder="Seu nome" autocomplete="off">
                    <span class="focus-border"></span>
              </label>

                <label class="label">

                    <input class="effect-line" type="text" placeholder="Seu e-mail" autocomplete="off">
                    <span class="focus-border"></span>

                </label>

                <label class="label">

                    <input class="effect-line" type="text" placeholder="Seu assunto" autocomplete="off">
                    <span class="focus-border"></span>

                </label>

                <label class="label">

                    <textarea class="effect-line" name="mensagem" style="font-family: Roboto;" placeholder="Deixe sua mensagem" rows="2" autocomplete="off"></textarea>
                    <span class="focus-border"></span>

                </label>

                <input type="hidden" name="acao" value="enviar">
                <button class="btn-enviar" title="Enviar">Enviar</button>

          </form>

      </div><!--Col Footer 4-->


      <div class="clear"></div>

  </div><!--Contant-->

  <div class="main_footer_copy">

      <p class="m-b-footer"> &copy; Pequenos Gênios - 2022, todos os direitos reservados.</p>
      <p class="by"> Desenvolvido por: <a href="www.pequenosgenios.com.br" title="Seu nome">DevForTech - Grupo 1</a></p>

  </div>

</footer>
